.class1{
    font-size: 45px;
}
.class2{
    font-size: 40px;
}
.class3{
    font-size: 35px;
}
.class4{
    font-size: 30px;
}
.class5{
    font-size: 25px;
}
.class6{
    font-size: 20px;
}
.button1{
    margin-left: 20px;
}
.button2{
    float: right;
    margin-right: 70px;
}
.middle{
    margin-left: 130px;
    font-size: 30px;
}
.container1{
    margin-left: -35px;
    text-align: justify;
}