Flask==1.1.2
fitz==0.0.1.dev2
PyMuPDF==1.18.2
nltk==3.5
python-pptx==0.6.18
pdf2image==1.14.0
gTTS==2.1.1
gtts-token
spacy==2.2.4
Flask-Cors==3.0.9
Flask-Bcrypt==0.7.1
Flask-JWT-Extended==3.24.1
Flask-SQLAlchemy==2.4.4
transformers==3.0.2
boto3==1.14.40
sense2vec==1.0.2
strsim==0.0.3
flashtext==2.7
tika==1.24
gunicorn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
https://download.pytorch.org/whl/cpu/torch-1.5.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.6.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
git+https://github.com/boudinfl/pke.git
whitenoise


